@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


title {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 800;
}

h1 {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
}

h2 {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
}

h3,h4,h5,h6 {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: 'Lato', sans-serif;
}

* {
  @include ltr {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
  }

  @include rtl {
    font-family: 'Tajawal', sans-serif;
    font-size: 1.5rem;
  }
}
