.sidebar {
  margin-top: 40px;

  @include desktop_and_print {
    z-index: 2;
    position: fixed;
    height: 100%;
    margin-top: 0;
    width: inherit;
    display: flex;
    flex-direction: column;

    @include themed() {
      @include ltr {
        margin-right: 4px;
        border-right: t('border');
      }

      @include rtl {
        margin-left: 4px;
        border-left: t('border');
      }
    }
  }

  &__content {
    @include desktop_and_print {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    text-align: center;
    &-item {
      display: inline;
      padding: 0 4px;
      line-height: 0;
    }
  }

  &__introduction {
    top: 40%;
    text-align: center;

    &-description {
      margin: 0 1em;
      line-height: 0.5;

      p {
        font-size: 1.7rem;
        font-family: 'Nanum Myeongjo', serif;
        font-weight: 700;
        text-align: center !important;
        line-height: 1.4;
      }
    }

    &-profileimage {
      width: 240px;
      height: 240px;
      border-radius: 50%;
    }

    &-title {
      text-align: center !important;
      text-transform: none;
      letter-spacing: 2px;
      margin: 1em;

      a {
        font-size: 2.8rem;
        font-family: 'Nothing You Could Do', serif;
        font-weight: 900;
        line-height: 0.9;
      }
    }

  }

}
